*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
*.link/https://ibuildapp.com/projects.php?action=info&projectid=3629154&utm_campaign=EmailNotifications&utm_medium=email&utm_source=AppReadyToPublish&utm_content=ibuildapp%20store

pkg/
src/
